extends layout
include _table

block content
  main.admin
    h1 Admin Panel
    .container-fluid
      h2 Category
      hr
      +_table(categories[0], categories.slice(1))
      a(href='/catalog/category/create')
        button + Create category
    .container-fluid
      h2 Product
      hr
      +_table(items[0], items.slice(1))
      a(href='/catalog/item/create')
        button + Create product
    

block script
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

block styles
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')